<h2>Validate</h2>

<div>
  <label for="new-usertoken-token">Token: </label>
  <input id="new-usertoken-token" type="text" required tokenLengthValidator [(ngModel)]="userToken.token" #usertokenToken="ngModel" value="" />

  <div *ngIf="usertokenToken.invalid && (usertokenToken.dirty || usertokenToken.touched)"
       class="alert">
    <div *ngIf="usertokenToken.errors?.['required']">
      Token is required.
    </div>
    <div *ngIf="usertokenToken.errors?.['tokenLengthInvalid']">
      Token must be exactly 200 characters.
    </div>
  </div>

  <button type="button" class="validate-button" (click)="validate(usertokenToken.value)" *ngIf="(!(usertokenToken.invalid && (usertokenToken.dirty || usertokenToken.touched)))">
    Validate
  </button>
</div>
